APP_NAME=CloudVault
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql://cloudvault_user:change_me@database:5432/cloudvault

SECRET_KEY=replace_with_a_long_random_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
AWS_REGION=us-east-1
AWS_S3_BUCKET=cloudvault-development

MAX_UPLOAD_SIZE_MB=25
ALLOWED_FILE_TYPES=pdf,jpg,jpeg,png,txt,csv,docx,xlsx
